@@ -1,15 +0,0 @@
# Your Auth0 application's Client ID
AUTH0_CLIENT_ID=wyUtxxc4goENcWhBRkIpvzbD3a8a8sIJ

# The URL of your Auth0 tenant domain
AUTH0_DOMAIN=dev-vt0iud3y.eu.auth0.com

# Your Auth0 application's Client Secret
AUTH0_CLIENT_SECRET=Ki1__G7dQuPRWLRYeAeOB8Lvq_wqL4FiMb1Ou4oac1_BJ6HrKKuv-oizwhLC_3lZ

# A long, secret value used to encrypt the session cookie.
# This can be generated using `openssl rand -hex 32` from your shell.
AUTH0_COOKIE_SECRET=

# A url your application is accessible from. Update this as appropriate.
AUTH0_BASE_URL=http://127.0.0.1:3000